body {
    width: 1200px;
    margin: 10px auto;
    text-align: center;
    font-family: "Nanum Gothic", serif;
}
h1>a{
    font-size: 60px;
    color: darkorange;
    margin: 10px;
    text-decoration: none;
}

.ani-navbar {
    border: 1px solid rgb(185, 183, 183);
    background-color: white;
    color: black;
    width: auto;
    height: 128px;
    border-radius: 25px;
    margin: auto;
    /* padding: 10px; */
    position: relative;
    display: flex;
    justify-content: center;
    /* transition: all 1s; */
    align-items: center;
    gap: 30px;
    font-size: 30px;
}

.ani-navbar:hover {
    transform: translateX(0px);
    transition: all 0.5s;
}

.ani-navbar-menu {
    cursor: pointer;
    padding: 10px;
}

.ani-navbar-menu .menu-title {
    
}
.menu-title{
    margin: auto;
}
.ani-navbar menu-title {
    transition: all 0.5s;
    transform: translateX(125px);
}

.ani-navbar-menu:hover {
    color: orange;
}

main{
    padding: 0px 35px;
    display: flex;
    gap: 76px;
}
.content {
    display: flex;
     /* justify-content: space-between; */
    width: 248px;
    height: 470px;
    margin: 10px 0px;
    /* justify-content: last baseline; */
}

.img {
    border-radius: 50px;
    width: 248px;
    height: 319px;
    position: relative;
    box-shadow: 10px 10px 15px gray;

}
.img:hover{
    transform: scale(0.9);
    transition: transform .5s;
}

#ca {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

#cate {
    text-align:left;
    font-size: 20px;
    position: absolute;
    display: none;
}
.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", serif;
    font-weight: 400;
    font-style: normal;
  }

  .carrot:hover #cate{
    display: block;
  }

    nav>.category{
    border: 1px solid  rgb(185, 183, 183);
    background-color: rgb(99, 99, 99);
    width: 1154px;
    border-radius: 5px;
    height: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    color: aliceblue;
  }
  .category>a{
    font-size: 20px;
}

/* button{
    background-color:rgb(99, 99, 99);
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-family: "Nanum Pen Script", serif;
    font-size: 20px;
}
button:hover{
    color: blue;
} */

